<%= content_tag :div, class: 'col-md-6' do %>
    <%= content_tag :div, class: 'well subtle' do %>
        <%= content_tag :h2, step.title %>
        <%= content_tag :h3,  "Svårighetsgrad: #{step.level}" %>
        <p><%= step.description %> </p>
        <% action_status = step.status_for_user current_user %>
        <%= change_status_link(action_status, step) %>
    <% end %>
<% end %>