<%= form_for(@action_step) do |f| %>
  <% if @action_step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@action_step.errors.count, "error") %> prohibited this action step from being saved:</h2>

      <ul>
      <% @action_step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :level %><br/>
    <%= f.select :level, 1..9 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= render 'action_steps/partials/level_descriptions' %>