<p id="notice"><%= notice %></p>

<h1>Listing Action steps</h1>
<table class="table">
  <tbody>
    <% @action_steps.each do |step| %>
      <tr>
        <td><%= step.title %></td>
        <td><%= step.description %></td>
        <td><%= step.level %></td>
        <td><%= link_to 'Show', step %></td>
        <td><%= link_to 'Edit', edit_action_step_path(step) %></td>
        <td><%= link_to 'Destroy', step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Step', new_action_step_path %>
<%= render 'action_steps/partials/level_descriptions' %>
<br>


