<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @action_step.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @action_step.description %>
</p>

<p>
  <strong>Level:</strong>
  <%= @action_step.level %>
</p>

<%= link_to 'Edit', edit_action_step_path(@action_step) %> |
<%= link_to 'Back', action_steps_path %>
