<h2>Välkommen</h2>
<div class="row">
<div class="col-md-6">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Logga in", class: 'btn btn-primary' %>
  </div>
<% end %>

</div>
<% render "users/shared/links" %>

<div class="col-md-6">
  Just nu är det sluten registrering till omidorido.se.
  <br/>
  Skicka ett mail till <%= mail_to 'konto@omidorido.se' %>
  om du vill vara med under vår pre-beta.
</div>
</div>
