<div class="row">
  <div>
    <h1>Om Omidorido</h1>
    <p>
      Omidorido är en hemsida för dig som vill minska din miljöpåverkan.
      Miljötips erbjuds av många, men ingen som möter dig just där du är.
      Omidorido filtrerar bort det som inte är relevant för dig och serverar resten i den ordning som passar dig bäst,
      med möjlighet att tydligt se framstegen.
    </p>
  </div>
  <div>
  <h2>Tidsplan</h2>
  <p>
   Just nu är Omidorido i en pre-beta fas. Om du vill ha ett konto kan du maila <%= mail_to 'konto@omidorido.se' %> för
    för kunna bli del av vårt pre-beta-program.
  </p>
  </div>
  <div>
    <h2>Uppdateringar</h2>
    <dl>
     <dt>22/2</dt><dd>Första versionen.</dd>
    </dl>
  </div>

</div>

