<div>
<h1>Kontakta oss</h1>
<p>Om du har tankar, förslag, frågor eller vill meddela oss något annat går det bra att maila
    <%= mail_to 'kontakt@omidorido.se' %> </p>
<p>Jag som driver omidorido.se heter Ester Ytterbrink</p>
</div>
