<h1><%= t('home.index.header') %></h1>
<div class="row">
    <div class="col-md-3">
      <div class="well subtle">
        <%= link_to t('home.index.my_stuff'), users_home_path %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="well subtle">
        <%= link_to t('home.index.steps_to_take'), users_browse_steps_path %>
      </div>
    </div>
</div>
