<div class="well subtle">

<table class="table">

  <tbody>
  <tr><td>1</td>
    <td>Ändrar beteende i nuet utan extra investering eller planering.</td>
    <td>Laga mat med lock.</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Ändrar beteende med visst krav på planering.</td>
    <td>Ta med kassar till affären när du ska handla</td></tr>
  <tr>
    <td>3</td>
    <td>Ändrar mindre investering</td>
    <td>Köp lågenergilampor</td></tr>
  <tr>
    <td>4</td>
    <td>Större undersökning, förändring, som sker en gång.</td>
    <td>Byt elleverantör</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Regelbunden förändring i ett beteende.</td>
    <td>Sopsortera.</td>
  </tr>
  <tr>
    <td>6</td>
    <td>Lägger till mindre investering.</td>
    <td>Köp vattenkokare.</td>
  </tr>
  <tr>
    <td>7</td>
    <td>Ändrar större investering.</td>
    <td>Byt till elbil.</td>
  </tr>
  <tr>
    <td>8</td>
    <td>Påverkar livet stort, dagligen.</td>
    <td>Sälj bilen.</td>
  </tr>
  <tr>
    <td>9</td>
    <td>Ändrar livsplanering.</td>
    <td>Flytta till ett hus på landet.</td>
  </tr>
  </tbody>

</table>
</div>
