<h1>Steg för att minska din miljöpåverkan</h1>
<p>Här visas ett urval av vad du kan göra.</p>
<%= content_tag :div, class: 'row' do %>
    <%@steps.each do |step| %>
        <%= render 'action_steps/card', step: step %>
    <% end %>
<% end %>

<%= content_tag :div, class: 'row' do %>
    <p>
      Just nu finns det inget att visa.
    </p>
    <%= content_tag :p do %>
    <%= link_to t('home.index.my_stuff'), users_home_path %>
    <% end unless current_user.blank?%>
<% end if @steps.count < 1%>
