<h1>Dina steg</h1>
<h2>På gång</h2>
<div class="row">
  <%@todo.each do |step| %>
    <%= render 'action_steps/card', step: step %>
  <% end %>
</div>
<h2>Färdiga</h2>
<div class="row">
  <%@done.each do |step| %>
      <%= render 'action_steps/card', step: step %>
  <% end %>
</div>
<h2>Kanske någon annan gång</h2>
<div class="row">
  <%@later.each do |step| %>
    <%= render 'action_steps/card', step: step %>
  <% end %>
</div>
