<%= content_tag :div do %>
    <% title = 'Inloggningssida för användare: ' %>
    <%= title.html_safe + link_to(I18n.t('common.log_in'), new_user_session_path)  %>
<%  end if current_user.nil? %>

<h1> Endast personal </h1>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<% render "admins/shared/links" %>
